<div class="container">
  <br>
  <h4>Find users</h4>

  <% if @users.count > 0 %>
    <% @users.each do |user| %>
      <%= render partial: 'pages/profile_card', :locals => { user: user } %>
    <% end %>
  <% else %>
    There are currently no new users to follow
  <% end %>

</div>